.formrow	{
	border-left: 2px solid #712647;
	padding-left: 5%;
	padding-right: 5%;
}
.mapdiv3	{
	height: 700px;
}

.mapitself2	{
	height: 100%;
	width: 100%;
}

.yenegoy	{
	color: #c70039;
	text-decoration: none;
}

.yenegoy:hover	{
	color: #c70039;
}

.maptextdiv2	{
	height: auto;
	left:0px;
	padding-left: 8%;
}



.maptext1	, .maptext2	{
	left:0px;
}

.maptext1:hover	{
	color:#712647;
}


@media (min-width: 330px) and (max-width: 575.98px) {
.formrow	{
	padding-left: 10%;
	padding-right: 10%;
	border-left: 0px;
	border-top: 2px solid #712647;
	padding-top: 40px;
	padding-bottom: 40px;
}

.maptextdiv2	{
	padding-left: 14%;
}


}

@media (min-width: 1000px) and (max-width:1200px) {

.maptext1 {
		font-size:4vw;
	}

.maptext2	{
	font-size: 3vw;
	line-height: 3.1vw;
}

.tel	{
		font-size: 2vw;
		line-height: 2.1vw;
}
}
